.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/login/background.jpg');
  background-size: cover; 
  background-position: center;
}

.subject-grade-form {
  border: 2px solid black;
  padding: 20px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  height: 400px;
}
.form-heading {
  text-align: center;
  margin-bottom: 20px;
}

.subject-grade-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.subject-grade-form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  height: 40px;
  border-radius: 5px;
}

.subject-grade-form button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px; 
  position: relative;
  top: 15px; 
}
.subject-grade-form button.bottom {
  position: absolute;
  bottom: 5px; 
}

.subject-grade-form select,
.subject-grade-form button {
  margin-top: 10px; 
}

